:root {
  --card-image-wrapper-bg: #fff;

  --men-card-bg: #6c9bd950;
  --women-card-bg: #f2644450;

  --active-card-border: #808080;
  --active-card-box-shadow: #808080;
}

.card {
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
}

.card_blue {
  background-color: var(--men-card-bg);
}
.card_coral {
  background-color: var(--women-card-bg);
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__header-text {
  text-transform: uppercase;
  font-weight: 600;
}

.card__circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.card:hover > .card__img-wrapper {
  width: 120px;
  height: 120px;
  border: 1px solid var(--active-card-border);
  transition: 0.3s;
}

.card:hover {
  border: 1px solid var(--active-card-border);
  box-shadow: 1px 1px 10px var(--active-card-box-shadow);
  transition: 0.3s;
}

/* Image */
.card__img-wrapper {
  margin: 0 auto;
  background-color: var(--card-image-wrapper-bg);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__img-container {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Header */
.card__main-info {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 10px;
}
.card__title {
  font-weight: 900;
  font-size: 1.6rem;
}

/* Body */
.card__body {
  margin-top: 10px;
}

.card__text {
  margin: 0.5em 0em;
}

.card__phone,
.card__location {
  display: flex;
  align-items: center;
  gap: 6px;
}

.card__icon {
  width: 16px;
  height: 16px;
}
